#movie-main {
    width: 100vw;
    /* border: 1px solid violet; */
}

#movie-main > header {
    margin-left: 4em;
    margin-top: 1em;
}

#forms-div {
    display: flex;
    flex-direction: row;
}

#movie-form {
    border: 1px solid #533e3e3d;
    border-radius: 3px;
    width: 58%;
}


#movie-form .form-group, #video-form .form-group {
    margin: 2em;
}

.rowed-fields {
    display: flex;
    flex-direction: row;
}

#video-form {
    border: 1px solid #533e3e3d;
    border-radius: 3px;
    width: 35%;
}

.div-space {
    width: 2%;
}

#video-upload {
    margin: 0 2em 0 2em;
}

#upload-field {
    margin: 2em 0 2em 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    visibility: hidden;;
}

#progress-bar {
    width: 90%;
    height: 2.7em;
    border: 1px solid #d1ecf1;
    border-radius: 3px;
    overflow: hidden;
}

#progress-level {
    height: 2.7em;
    width: 0%;
    background-color: teal;
}

#progress-per {
    width: 8%;
    font-size: 2em;
    text-align: right;
}

#form-video-error {
    display: none;
    margin: 0 2em 2em 2em;
}

#video_id_available {
    margin: 2em;
    display: none;
}