{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Staff actions - {{ movie.title }}  (movie){% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'staff/css/movie_detail.css' %}">
{{ movie_form.media }}
{{ video_form.media }}
{% endblock style %}

{% block content %}

<div id="movie-main" class="container-fluid">
    <header>
        <h1>Movie | {{ movie.title }}</h1>
    </header>


    <div id="forms-div">
        <div id="movie-form">
            <h2 class="text-center">Movie details</h2>
            {% if not_valid %}<div class='alert alert-warning'>Rectify the errors below </div>{% endif %}

            <form action="{% url 'staff:movie-detail' movie.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" id='movie-title'>
                    {{ movie_form.title.label }}
                    {% if movie_form.title.errors %}
                        {% for error in movie_form.title.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>                            
                        {% endfor %}
                    {% else %}
                        {% if movie_form.title.help_text %}
                            <div class="alert alert-info">
                                {{ movie_form.title.help_text }}                            
                            </div>
                        {% endif %}
                    {% endif %}
                    {{ movie_form.title }}
                </div>

                <hr />
                
                <div class="alert alert-info" style="margin: 0 2em 0 2em">
                    Entries should be comma-separated
                </div>
                <div class="rowed-fields">
                    <div class="form-group">
                        {{ movie_form.director.label }}
                        {% if movie_form.director.errors %}
                            {% for error in movie_form.director.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% endif %}
                        {{ movie_form.director }}
                    </div>
                    <div class="form-group">
                        {{ movie_form.writers.label }}
                        {% if movie_form.writers.errors %}
                            {% for error in movie_form.writers.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% endif %}
                        {{ movie_form.writers }}
                    </div>
                    <div class="form-group">
                        {{ movie_form.genre.label }}
                        {% if movie_form.genre.errors %}
                            {% for error in movie_form.genre.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% endif %}
                        {{ movie_form.genre }}
                    </div>
                </div>

                <hr />
                
                <div class="rowed-fields">
                    <div class="form-group">
                        {{ movie_form.cast.label }}
                        {% if movie_form.cast.errors %}
                            {% for error in movie_form.cast.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% endif %}
                        {{ movie_form.cast }}
                    </div>
                    <div class="form-group">
                        {{ movie_form.rating.label }}
                        {% if movie_form.rating.errors %}
                            {% for error in movie_form.rating.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% endif %}
                        {{ movie_form.rating }}
                    </div>
                    <div class="form-group">
                        {{ movie_form.date_of_release.label }}
                        {% if movie_form.date_of_release.errors %}
                            {% for error in movie_form.date_of_release.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% endif %}
                        {{ movie_form.date_of_release }}
                    </div>
                </div>

                <hr />
                
                <div class="rowed-fields">
                    <div class="form-group">
                        {{ movie_form.country.label }}
                        {% if movie_form.country.errors %}
                            {% for error in movie_form.country.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% else %}
                            {% if movie_form.country.help_text %}
                                <div class="alert alert-info">
                                    {{ movie_form.country.help_text }}
                                </div>
                            {% endif %}
                        {% endif %}
                        {{ movie_form.country }}
                    </div>
                    <div class="form-group">
                        {{ movie_form.art.label }}
                        {% if movie_form.art.errors %}
                            {% for error in movie_form.art.errors %}
                                <div class="alert alert-warning">
                                    {{ error }}
                                </div>                            
                            {% endfor %}
                        {% else %}
                            {% if movie_form.art.help_text %}
                                <div class="alert alert-info">
                                    {{ movie_form.art.help_text }}
                                </div>
                            {% endif %}
                        {% endif %}
                        {{ movie_form.art }}
                    </div>
                </div>

                <hr />
                
                <div class="form-group">
                    {{ movie_form.synopsis.label }}
                    {% if movie_form.synopsis.errors %}
                        {% for error in movie_form.synopsis.errors %}
                            <div class="alert alert-warning">
                                {{ error }}
                            </div>                            
                        {% endfor %}
                    {% else %}
                        {% if movie_form.synopsis.help_text %}
                            <div class="alert alert-info">
                                {{ movie_form.synopsis.help_text }}
                            </div>
                        {% endif %}
                    {% endif %}
                    {{ movie_form.synopsis }}
                </div>

                <hr />

                <div class="form-group" style="text-align: right;">
                    <input class="btn btn-outline-info" type="submit" value="change {{ movie.title }}">
                </div>
            </form>
        </div>

        <div class="div-space"></div>

        <div id="video-form">
            <h2 class="text-center">file details</h2>

            <form action="" method="post" enctype="multipart/form-data">

                <div class="alert alert-info" style="margin: 0 2em 0 2em">
                    Enter in seconds
                </div>

                <div class="rowed-fields">
                    <div class="form-group">
                        {{ video_form.length.label }}
                        {{ video_form.length }}
                    </div>
                    <div class="form-group">
                        {{ video_form.intro_start.label }}
                        {{ video_form.intro_start }}
                    </div>
                    <div class="form-group">
                        {{ video_form.intro_end.label }}
                        {{ video_form.intro_end }}
                    </div>
                </div>
    
                <hr />
    
                <div class="rowed-fields">
                    <div class="form-group">
                        {{ video_form.file_quality.label }}
                        {{ video_form.file_quality }}
                    </div>
                    <div class="form-group">
                        {{ video_form.video_art.label }}
                        {{ video_form.video_art }}
                    </div>
                </div>
    
                <hr />
    
                <div id='video-upload'>
                    {% if video_form.file.value %}
                        <a href="{{ movie.file.file.url}}">open current file</a>
                    {% endif %}
    
                    <div id='upload-field'>
    
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>


{% endblock content %}